[user]
	email = cmumford@cmumford.com
	name = Chris Mumford
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[merge]
	tool = mymeld
	renameLimit = 9999999
[diff]
	external = $HOME/bin/gitdiff.py
	renames = true
	renameLimit = 999999
[alias]
	co = checkout
    l = log --graph --decorate --pretty=oneline --abbrev-commit
    ll = log --graph --decorate --pretty=medium --abbrev-commit
    dd = diff --no-ext-diff --word-diff
    vd = difftool --tool=vimdiff
[branch]
	autosetuprebase = always
[push]
	default = tracking
[core]
	autocrlf = false
	filemode = false
	deltaBaseCacheLimit = 1G
[rerere]
	enabled = 1
[mergetool "mymeld"]
	cmd = $HOME/bin/gitmerge $BASE $LOCAL $REMOTE $MERGED
